html,
body {
    padding: 0;
    margin: 0;
    background: greenyellow;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* 使用postcss-loader 和 autoprefixer 对css属性进行处理--给新属性添加浏览器前缀*/

.flex-div {
    display: flex;
}