<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <script>
        <%= compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
    </script>
</head>

<body>
    <% for(var k in htmlWebpackPlugin.files.chunks) {%>
        <% if(k!=='main'){ %>
            <scirpt type="text/javascirpt" src="<%= htmlWebpackPlugin.files.chunks[k].entry %>"></scirpt>
            <% } %>
                <% } %>

</body>

</html>